a{
    text-decoration: none;
    color: black;
}
#text1{
    border: 1px solid black;
    width: 800px;
    height: 200px;
}
button{
    border: 1px solid black;
    padding: 20px 50px;
    background-color: gray;
    margin: 20px;
    font-size: 20px;
    color: white;
    border-radius: 50px;
    font-family: 'Comfortaa', cursive; 
}
div{
    text-align: center;
}
body{
    background-color: black;
    color: white;
    font-family: 'Comfortaa', cursive;    
}
