a{
    text-decoration: none;
    color: black;
}
#text1{
    border: 1px solid black;
    width: 800px;
    height: 200px;
}
#score{
    position: fixed;
    top: 1em;
    right: 1em;
}
button{
    border: 1px solid black;
    padding: 20px 50px;
    background-color: cyan;
    margin: 20px;

}
div{
    text-align: center;
}
body{
    background-color: black;
    color: white;
    font-family: 'Comfortaa', cursive;    
}
